/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


:root {
  --fc-border-color: none;
  --fc-daygrid-event-dot-width: 5px;

  .fc-daygrid-day-top > a {
    text-decoration: none;
    color: var(--ion-color-step-850);
  }

  .fc-day-past,
  .fc-day-future,
  .fc-day-today {
    height: 30px !important;
    padding: 5px;
  }

  .fc-daygrid-day > * {
    display: flex;
    justify-content: center;
    align-items: center;
    // border-radius: 12px;
    // border: solid 1px rgba($color: #000000, $alpha: .3);
    padding: 5px;
  }

  .fc-event {
    // border-radius: 11px;
  }

  .fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
  }

  .fc
  .fc-button {
    background: var(--ion-color-primary);
    border: none !important;
    border-color: none !important;
    box-shadow: none !important;
    :hover {
      background: var(--ion-color-primary);
    }
  }

  .fc-col-header-cell-cushion {
    text-decoration: none;
    color: var(--ion-color-step-850);
  }

  .fc-day-today {
    background-color: var(--ion-color-medium-shade) !important;
    background-color: transparent !important;
    // border-radius: 12px;
    margin: 2px;
    font-weight: bold;
    .fc-daygrid-day-number {
      font-size: 20px !important;
    }
  }

  .fc-daygrid-day-number {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: solid 1px rgba($color: #000000, $alpha: .1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // .fc-day-today > * {}

  .fc-toolbar-chunk {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .fc-daygrid-bg-harness {
    display: flex;
    justify-content: center;
    text-align: center;
    div {
      height: 40px;
      width: 40px;
      transform: scale(1);
      margin: 0 auto;
      border-radius: 50%;
      top: 5px;
      left: -3px;
    }
  }

}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}
